.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 413px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.card__title {
  margin: 0 0 0;
  font-size: 20px;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__like-btn {
  background-image: url(../images/Like\ Icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  background-size: contain;
}

.card__like-btn:hover {
  opacity: 1;
  transition: 0.4s ease-out;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__content {
    max-width: 288px;
    line-height: 16px;
  }

  .card__title {
    max-width: 245px;
    font-size: 16px;
  }

  .card__image {
    height: 288px;
    max-width: 288px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }

  .card {
    gap: 20 0 20px;
  }
}
