.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  max-width: 730px;
  padding: 32px 50px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}
.modal__container_type_preview {
  padding: 0;
  background-color: transparent;
  width: unset;
  display: unset;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__caption {
  background-color: #212121;
  padding: 4px 8px;
  color: #fff;
  border-radius: 8px;
}

.modal__caption-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 40%;
  background: transparent center no-repeat;
  background-size: 35px 35px;
  border: none;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  opacity: 1;
}

.modal__close-btn:hover {
  cursor: pointer;
  transition-property: smooth;
  transition: background 0.1s ease-in-out;
  opacity: 1;
}

.modal__title {
  width: 100%;
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: #212121;
  opacity: 70%;
  width: 630px;
}

.modal__input {
  width: 606px;
  padding: 16px 12px;
  border-radius: 8px;
  opacity: 70%;
}

.modal__input:hover {
  opacity: 1;
  transition-property: smooth;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
}

.modal__submit-btn:hover {
  opacity: 0.8;
  transition-property: smooth;
  transition: background 0.1s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    max-width: 300px;
    height: 336px;
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 24px;
    justify-content: space-between;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    width: 276px;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 16px;
  }

  .modal__submit-btn {
    margin: 0;
    height: 52px;
    width: 276px;
    width: 100%;
  }

  .modal__input {
    padding: 22px, 5px;
    width: 248px;
    height: 16px;
    font-size: 16px;
    margin: 0;
  }

  .modal__image {
    height: 192px;
    object-fit: cover;
    border-radius: 4px;
  }
  .modal__container_type_preview {
    padding: 0;
    width: 288px;
    height: 192px;
  }

  .modal__close-btn_type_preview {
    top: -50px;
    left: 240px;
  }
}
